.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    width: 100vw;
    z-index: 50;
}
.content-area {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width:90%;
    max-height:450px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
    background-color: white;
    border-radius: 10px;
    overflow: hidden; 
}
.title {
    background-color: #bfb8b8;
    color: white;
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 5px;
    font-size:20px;
}
.content {
    overflow-y: auto; 
    max-height: 70vh; 
}
.content p {
    margin-bottom: 10px; /* Add some space between paragraphs */
}