header{
    height:100%;
    width:100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height:100%;
    width:100%;
    background-color: white;
}
.header-dark{
    background-color:#202124;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}
.font-dark{
    color:white;
}

.side-nav-button{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left:12px;
}
.side-nav-button i{
    color:#787a7a;
}
.side-nav-button:hover{
  background-color: gainsboro;
  border-radius: 30%;
}

.search{
    width:55%;
    height:95%;
    border-radius:10px;
}
.search input{
    border-radius:10px;
    background-color: #c4bfbe;
}
.search input:hover{
    background-color: white;
}

.dropdown{

    display:none;
}

.dropdown button{
    background:transparent;
    color:black;
    width:fit-content;
    height: fit-content;
    font-size:15px;
}

.dropdown ul li span{
    width:200px;
    font-size:13px;
}
.icons{
    width:22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height:45px;
    width:45px;
    border-radius: 50%;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo:hover{
    background-color: #c4bfbe;
}
.logo i{
    color: #787a7a;
    font-size:22px;
}

.profile-logo{
    width:45px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
    border-radius: 50%;
    background-color: blueviolet;
}

.profile-logo:hover{
    background-color: lightslategray;
}

@media screen and (max-width: 1000px) {
    .logo{
        height:35px;
        width:35px;
    }
    .logo i{
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
        .logo{
            display: none;
        }
        .dropdown{
            display:block;
        }
        .profile-logo{
            height:40px;
            width:40px;
        }
        .profile-logo i{
            font-size: 17px;
        }
}

@media screen and (max-width: 700px) {
    
    .side-nav-button{
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .logo{
        display: none;
    }
    .dropdown{
        display:block;
        margin-right:5%;
    }
    .dropdown button{
        width:fit-content;
        font-size: 12px;
    }
    .dropdown ul li span{
        font-size: 10px;
    }
    .profile-logo{
        height: 35px;
        width:35px;
    }
    .profile-logo i{
        font-size: 15px;
    }
}