<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

     <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
         <i class="fa-solid fa-bars"></i>
     </div>

     <a class="navbar-brand px-4" href="#"><h2>Keep</h2></a>

     <form class="search d-flex me-5" (ngSubmit)="onSubmit(ref)" #ref="ngForm">
         <input ngModel name="search" class="form-control me-2" type="search" placeholder="Search">
         <button class="btn btn-outline-light" type="submit">Search</button>
     </form>

     <div class="icons">
        <div class="logo" routerLink="/">
            <i class="fa-solid fa-rotate-right"></i>
         </div>
         <div class="logo">
            <i class="fa-solid fa-table-list"></i>
         </div>
         <div class="logo">
            <i class="fa-solid fa-gear"></i>
         </div>
         <div class="profile-logo">
            <i class="fa-solid fa-user"></i>
         </div>
     </div>
     <!-- <h1 style="color:white">{{curr_search}}</h1> -->
</nav>