<div class="side-nav-content">
    <ul class="nav-list">

        <li routerLink="/" class="nav-list-item">
            <i class="fa-solid fa-lightbulb"></i>
                <span>
                    <a href="/">Notes</a>
                </span>
           </li>
        
        <li routerLink="archive" class="nav-list-item">
            <i class="fa-solid fa-folder"></i>
        <span>
            <a href="/archive">Archive</a>
        </span>
        
    </li>

   <li routerLink="trash" class="nav-list-item">
    <i class="fa-solid fa-trash"></i>
        <span>
            <a href="/trash">Trash</a>
        </span>
   </li>



   </ul>
</div>