<div class="trash-area">
    
       <div class="heading">
        <h4>Trash will be deleted after 7 days</h4>
       </div><br>

          <div class="container">
    
            <div  *ngFor="let delete of deletedItems  | filterPipe:curr_search;index as i" class="item">
                <div class="card-body">
                  <h5 class="card-title">{{delete.title}}</h5>
                  <p class="card-text">{{delete.content}}</p>
                  <a class="card-link" (click)="removeTask(i)"><i class="fa-solid fa-trash" style="color:darkblue"></i></a>
                  </div>
              </div>

          </div>
</div>