.trash-area{
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:100%;
    /* background-color: red; */
}

.container{
    width:85%;
    columns:4;
    column-gap: 10px;
 }
 .item{
   background-color: white;
   width:200px;
   border:1px solid grey;
   height:fit-content;
   break-inside: avoid;
   margin-bottom: 20px;
   border:3px solid #ccc;
}
.item:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

