.notes-area{
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh-4rem); /* Ensure container takes up at least the height of the viewport */
    width:94vw;

}
.notes-dark{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-color:#202124;
}
.font-dark{
  color:white;
}
.container-dark{
  color: white;
}
.form-input{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.form-input input{
  border-radius: 10px;
  background-color:transparent;
 
}
.title-class{
  width:100%;
  height:50px;
  border:2px solid #ccc; 
  border-bottom: 1px solid transparent; 
  outline: none;
}
.content-class{
   height:50px;
   width:100%;
   border:2px solid #ccc;
   border-top:1px solid transparent;
   outline: none; 
}

  .container{
    width:80%;
    columns:4;
    column-gap: 10px;
 }
 .item{
   background:transparent;
   width:227px;
   height:fit-content;
   break-inside: avoid;
   margin-bottom: 18px;
   border:3px solid #ccc;
   border-radius:6px;
}
.item:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.card-text{
  word-wrap:break-word;
}
.not-it{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
.not-it i{
  font-size:100px;
}
.hidden-element {
  visibility: hidden;
}

.item:hover .hidden-element {
  visibility: visible;
}
a{
  text-decoration: none;
}
.card-text{
  font-size: 14px;
}
