.notes-area{
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width:100%;
}
.form-input{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.title-class{
  width:100%;
  height:50px;
  border:2px solid #ccc;
  border-bottom: 1px solid transparent;
  outline: none;
}
.content-class{
  height:50px;
   width:100%;
   border:2px solid #ccc;
   border-top:1px solid transparent;
   outline: none;
}

  .container{
    position:relative;
    left: 30px;
    width:90%;
    columns:4;
    column-gap: 10px;
 }
 .item{
   background-color: white;
   width:200px;
   height:fit-content;
   break-inside: avoid;
   margin-bottom: 20px;
   border:2px solid #ccc;
   border-radius:10px;
}
.item:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.not-it{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
}
.not-it i{
  font-size:100px;
}
.hidden-element{
  display: none;
}
.card-body:hover .hidden-element{
  display: inline;
}

