<div class="notes-area" [ngClass]="{'notes-dark':isDark==true}" (click)="handleClick($event)">

     <div class="form-input">
        <input *ngIf="title_status==true" [(ngModel)]="curr_title" class="title-class" placeholder="Add a Title">
        <input [(ngModel)]="curr_content" class="content-class" placeholder="Take a Note.." (keydown.enter)="addTask()">
     </div>

     <br><br>

     <app-content-overlay *ngIf="overlay_view==true"></app-content-overlay>


     <app-profile *ngIf="viewProfile==true"></app-profile>
   
    <div [ngClass]="{'container':noteItems.length>0 && viewToggle==false}">

        <div *ngIf="noteItems.length==0" class="not-it">
            <i class="fa-solid fa-lightbulb" [ngClass]="{'font-dark':isDark==true}"></i><br>
            <h2 [ngClass]="{'font-dark':isDark==true}">No Item To Show</h2>
              </div>

        <div  *ngFor="let note of noteItems | filterPipe:curr_search;index as i" class="item" (click)="overlayClick(i)">

              <div class="card-body" [ngClass]="{'container-dark':isDark==true}">
                <h5 class="card-title"><p>{{note.title}}</p></h5>
                <p class="card-text">{{note.content.substr(0,297)}}{{getDots(note.content)}}</p>
                <a class="card-link hidden-element" (click)="removeTask(i)"><i [ngClass]="{'font-dark':isDark==true}" class="fa-solid fa-trash"></i></a>
                <a class="card-link hidden-element" (click)="archiveTask(i)"><i [ngClass]="{'font-dark':isDark==true}" class="fa-solid fa-box-archive"></i></a>
                </div>
            </div>
          </div> 
</div>