<div class="notes-area">

     <div class="form-input">
        <input [(ngModel)]="curr_title" class="form-control form-control-lg" placeholder="Add a Title">
        <input [(ngModel)]="curr_content" class="form-control form-control-lg" placeholder="Take a Note.."><br>
        <button type="submit" class="btn btn-primary" (click)="addTask()">Add Task</button>
     </div>

    <div class="responses">

        <div *ngIf="noteItems.length==0">
            <h4>No Item To Show</h4>
              </div>

        <div  *ngFor="let note of noteItems;index as i" class="card">
            <div class="card-body">
              <h5 class="card-title">{{note.title}}</h5>
              <p class="card-text">{{note.content}}</p>
              <a class="card-link" (click)="removeTask(i)"><i class="fa-solid fa-trash" style="color:darkblue"></i></a>
              <a class="card-link" (click)="archiveTask(i)"><i class="fa-solid fa-box-archive" style="color:darkblue"></i></a>
              </div>
          </div>
        </div>
</div>